:root{
    --yellow:#FFCE00;
    --black:#000;
    --white:#ffff;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: var(--black);
    color: #ffff;
    height: 80px;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

ul.menu{
    display: flex;
    list-style: none;
}

ul.menu li{
    margin: 0 1rem;
}

ul.menu li a{
    color: var(--white);
    text-decoration: none;
}

.blog{
    background: var(--white);
    height: auto;
    padding: 2rem 0;
}

.blog-title{
    text-align: center;
}

.blog-title h3{
    color: var(--white);
    font-size: 5rem;
}

.blog-title p{
    color: var(--yellow);
    font-size: 1.2rem;
}

.blog{
    background: var(--white);
    height: auto;
    padding: 2rem;
}

.blog-posts{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 2rem;
}

.blog-posts img{
    width: 300px;
    border-bottom: 10px solid var(--yellow);
}

.blog-posts h3{
    color: var(--white);
    margin: .5rem 0;
}

.blog-posts p{
    color: var(grey);
    line-height: 20px;
}

.blog-posts-btn{
    background: var(--yellow);
    color: var(--black);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 2rem;
}

.film{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 2rem;
}